

.color2 {
  background: #4d79ff;
  height: 100vh;
  width: 33.33333333%;
  width: calc(100/3)%;
  float:left;
}

.color3 {
  background: #ffff99;
  width: 33.333333%;
  width: calc(100/3)%;
  height: 100vh;
  float: right;
}
.color4 {
  background: red;
  width: 33.333333%;
  height: 100px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 25px;


}
body{
  margin: 0;
  background: #33ffad;
}
