

.color2 {
  background: lightgray;
  height: 14vh;
  width: 100%;
  padding: 10px 0 0 10px; 
}

.color3 {
  background: white;
  height: 30vh;
  width: 100%;

}
.color4 {
  background: blue;
  height: 14vh;
  width: 100%;
  color: white;
}
.color5 {
  background: #4dffb8;
  height: 14vh;
  width: 100%;
  color: white;
}
.color6 {
  background: #86b300;
  height: 14vh;
  width: 100%;
  color: white;
}
body{
  margin: 0;
  background: yellow;
}
.square {
  background: blue;
  height: 75px;
  width: 75px;


}
